/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*NAVIGATION*/
nav {
  height: 10vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E53E3E;
}

nav ul {
  padding: 2.25% 6%;
  color: white;
}

/*LANDING SECTION*/
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #fff;
}

.left-intro {
  width: 50%;
  text-transform: uppercase;  
}

.left-intro p {
  font-size: 12rem;
  text-align: center;
  vertical-align: middle;
}

.left-intro span {
  background-color: #ED8936;
  padding: 0 50px;
  color: white;
}

.right-intro {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.right-intro button{
  align-items: center;
}

.landing-btn-div {
  display: flex;
  margin: 50px auto;
}

p {
  padding: 0 50px;
}

.fa-circle {
  color: red;
  cursor: pointer;
}

.fa-circle:hover {
  color: green;
  border-radius: 50%;
  border: 3px solid red;
}

/*PROJECT SECTION*/
.projects-container img {
  width: 100vw;
}

/*FOOTER SECTION*/
.footer-container {
  height: 30vh;
}
.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

.footer-nav a {
  text-decoration: none;
  color: black;
}