/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MOBILE FIRST APPROACH*/

/*NAVIGATION*/

nav {
  height: 8vh;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E53E3E;
}

nav .nav-item {
  padding: 2px 30px;
  display: grid;
  place-items: center;
}

.logo {
  color: #E53E3E;
}

/*LANDING PAGE*/
.browser-only-intro {
  display: none;
}

.intro-container {
  height: 92vh;
  background-image: linear-gradient(to top, #F4EAF1 0%, white 100%);
}
.landing-img {
  width: 350px;
}

.left-intro {
  display: grid;
  place-items: center;
  height: 60vh;
}

.right-intro {
  text-align: center;
  vertical-align: middle;
}

.diamond {
  width: 50px;
}

.diamond:hover {
  /* do some animation with framer motion */
  cursor: pointer;
}
.bio-adjuster {
  font-weight: 200;
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.landing-btn-div {
  display: flex;
  justify-content: center;
}

.bio-details {
  font-size: 1rem;
  color: black;
  padding: 5% 10%;
  text-align: center;
}

.projects-container img {
  width: 100vw;
}

@media only screen and (max-width: 321px) {
  body {
    background-color: yellow;
  }
  .landing-img {
    width: 275px;
  }

} 
@media only screen and (min-width: 608px) {
  body {
    background-color: yellow;
  }
  .landing-img {
    width: 450px;
  }
  .browser-only-intro {

  }

}

@media only screen and (min-width: 768px) {
  body {
    background-color: lightblue;
    
  }
  .landing-img {
    width: 450px;
  }

}

@media only screen and (min-width: 900px) {
  body {
    background-color: red;
  }
  .landing-img {
    width: 500px;
  }

  .intro-container {
    display: flex;
  }

  .left-intro {
    width: 50%;
    text-transform: uppercase;  
    display: grid;
    place-items: center;
    height: 100vh;
  }
  .right-intro {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 100vh;
  }

}

@media only screen and (min-width: 1024px) {
  body {
    background-color: green;
  }

  .intro-container {
    height: 77vh;
  }
  .landing-img {
    width: 550px;
  }
  .browser-only-intro {
    display: block;
    background-color: #E53E3E;
    padding: 8vh 0;
  }

  .left-intro {
    width: 50%;
    text-transform: uppercase;  
    display: grid;
    place-items: center;
    height: 77vh;
  }
  .right-intro {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    height: 77vh;
  }

}
/*PROJECT PAGE*/


/*

.landing-img 

nav ul {
  padding: 2.25% 6%;
  color: white;
}

/*
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  background-color: white;
}

.left-intro {
  width: 50%;
  text-transform: uppercase;  
  display: grid;
  place-items: center;
}
.landing-img {
  width: 600px;
}

.right-intro {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.right-intro button{
  align-items: center;
}

.landing-btn-div {
  display: flex;
  margin: 50px auto;
}

p {
  padding: 0 50px;
}

.fa-circle {
  color: red;
  cursor: pointer;
}

.fa-circle:hover {
  color: green;
  border-radius: 50%;
  border: 3px solid red;
}

/*
.projects-container img {
  width: 100vw;
}

/* 
.footer-container {
  height: 30vh;
}
.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

.footer-nav a {
  text-decoration: none;
  color: black;
} */