/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  color: #2B2C2B;
  letter-spacing: 0.06rem;
  line-height: 1.2rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import "~react-image-gallery/styles/css/image-gallery.css";

/*BREAKPOINTS*/
/* original screen - mobile first approach*/
body {
    background-color: lightsalmon;
}

/*global*/
h2 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5rem;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #6A6A6A;
  font-weight: 600;
  line-height: 1.5rem;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  color: #89BEAF;
  padding: 30px 0;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #6A6A6A;
  font-weight: 600;
  line-height: 2rem;
  padding-bottom: 30px;
}

.btn-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #2B2C2B;  
  font-weight: 900;
  font-family: 'Merriweather Sans', sans-serif;  
  font-size: 0.9rem;
}

.btn-link:hover {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #DCEAEB 65%);
}

      /*NAVIGATION*/

nav {
  height: 6vh;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.nav-item, .nav-toggle{
  padding: 2px 30px;
  display: grid;
  place-items: center;
}

.nav-item {
  background-color: #2B2C2B;
}

.logo {
  color: #88BBBC;
  background-color: #2B2C2B;
  font-family: 'Lobster Two', cursive;
}

    /*LANDING*/
.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  right: 50px;
  
}
.socials a {
  justify-content: right;
  color: #2C2C2C;
  margin: 5px 0;
}

.socials a:hover{
  color: #88BBBC;
}

.verticalLine {
  border: 0;
  color: #DBDBDB;
  background-color: #DBDBDB;
  width: 1px;
  height: 60px;
}

.landing-img {
  width: 250px;
  align-items: center;
}

.right-intro h2 {
  /* text-align: right; */
}

.right-intro h3 {
  padding-bottom: 18px;
}

.left-intro {
  display: grid;
  place-items: center;
  height: 50vh;
}

.right-intro {
  text-align: center;
  vertical-align: middle;
  display: grid;
  place-items: center;
  padding: 0 5%;
  height: 50vh;
}

.right-intro h1 {
  font-weight: 100;
  font-size: 3rem;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 0.35rem;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #CFE6E2 50%);
  display: inline;
}

.right-intro h2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 8% 8% 3% 8%;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}

.right-intro p {
  margin: 2% 8% 8% 8%;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  color: #9C9C9C;
}

hr {
  width: 90%;
  height: 1px;
  border: 0;
  color: #DBDBDB;
  background-color: #DBDBDB;
  margin: auto 10px;
  margin-top: 30px;
}

.diamond {
  width: 50px;
}

.diamond:hover {
  /* do some animation with framer motion */
  cursor: pointer;
}

.bio-adjuster {
  font-weight: 200;
  font-size: 0.8rem;
  padding-top: 10px;
  color: #2B2C2B;
  text-align: center;
}

.landing-btn-div {
  display: flex;
  justify-content: center;
}

.bio-details {
  font-size: 1rem;
  padding: 0;
  text-align: center;
}

  /*ABOUT PAGE*/
.intro-container {
  height: 94vh;
}
.wrapper, .portfolio {
  margin: 0 20px;
}

.quotes {
  position: absolute;
  top: 150;
}

.quotes img {
  width: 50px;
}

.about-para {
  padding: 50px 0 25px 0;
  text-align: left;
  margin: 0 40px;
}

    /*PORTFOLIO*/

.project-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px  20px;
  -webkit-box-shadow: 0px 0px 33px 16px rgba(244,245,249,0.97); 
  box-shadow: 0px 0px 33px 16px rgba(244,245,249,0.97);
}

.project-wrapper img{
  width: 300px;
  margin-top: 40px;
}

    /*PROJECTS*/


.project {
  width: 600px;
  height: 200px;
  margin: 15px 0 80px 0;
  display: grid;
  place-items: center;
}

.project-title-link {
  color: black;
  text-decoration: none;
}

.project-title {
  font-size: 1.5rem;
}

.project-description {
  margin: 15px 80px;
  padding: 0;
}

    /*FOOTER*/
.ig-footer {
  background-color: #F4F5F9;
}

.ig-grid {
  width: 80%;
}

.cta-description {
  text-align: left;
  margin: 0 40px;
}

/* Small screen*/  
@media only screen and (min-width: 608px) {
  body {
    background-color: yellow;
  }
  .wrapper {
    text-align: left;
  }

}

/* M screen*/
@media only screen and (min-width: 768px) {
  body {
    background-color: lightcoral; 
  }

}

/* L screen*/
@media only screen and (min-width: 900px) {
  body {
    background-color: lightblue;
  }
}

/* XL screen*/
@media only screen and (min-width: 1024px) {
  body {
    background-color: lightgreen;
  }

}