.travelopia-wrapper {
    padding: 0 4%;
  }
  
  .trav-intro {
    padding-top: 50px;
    text-align: left;
  }
  
  .trav-intro h2 {
    color: #7CA493;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 30px 0 50px 0;
    font-family: 'Merriweather Sans', sans-serif; 
  }
  
  .image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .image-wrapper img {
    width: 100%;
  }
  
  .personal-goals-wrapper {
    text-align: right;
  }
  
  .personal-goals-wrapper h3 {
    font-size: 2rem;
    padding: 120px 0 50px 0;
    text-align: left;
    color: black;
    
  }
  
  .tech-stack-col {
    display: none;
    padding-left: 40px;
  }
  
  .tech-stack-row {
    display: grid;
    place-items: center;
    width: 100%;
    padding-bottom: 120px;
  }
  
  .tech-stack-row img{
    width: 100%;
  }
  
  .p-g-div {
    text-align: left
  }
  
  .second-image {
    width: 100%;
  }
  
  .reg-footer {
    
  }
  
  /* Small screen*/  
  @media only screen and (min-width: 608px) {
      body {
        background-color: yellow;
      }
    }
    
    /* M screen*/
    @media only screen and (min-width: 768px) {
      body {
        background-color: lightcoral; 
      }
    
      .tech-stack-row {
        display: none;
      }
      .tech-stack-col {
        display: flex;
      }
  
      .personal-goals {
        display: flex;
        padding: 0 0 80px 0;
      }
    }
    
    /* L screen*/
    @media only screen and (min-width: 900px) {
      body {
        background-color: lightblue;
      }
      
    }
    
    /* XL screen*/
    @media only screen and (min-width: 1024px) {
      body {
        background-color: lightgreen;
      }
    
    }
    
    /* XL screen*/
    @media only screen and (min-width: 1250px) {
      body {
        background-color: orange;
      }
    
      
    
    }
    
    /* XL screen*/
    @media only screen and (min-width: 1325px) {
      body {
        background-color: pink;
      }
      
    
    }